/resignipa/build
_floatsignTemp
.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.netrc
/build
/.swiftpm
/.vscode
/Framework
/resignipa/xcuserdata/
/resignipa/resignipa.xcodeproj/project.xcworkspace/xcuserdata/
